.info {
  min-height: 88vh;
  //background-image: url("../src/Assets/background.jpg");
  //background-position: center;
  //background-repeat: no-repeat;
  //background-size: cover;
  background-color: white;
  padding-top: 8vh;
  //display: flex;
  //justify-content: center;
  //align-items: center;

  &_description {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
    text-align: center;
    line-height: 3vh;
    //background-color: #ffffff61;
    border-radius: 1rem;
    height: 65vh;
    margin-top: 4vh;
  }

  &_logo {
    font-family: $third-font;
    font-size: 3vh;
  }
}